<% layout('/layouts/boilerplate')%>
<div class="row">
<div class="col-8 offset-2">
    <br>
    <h3>Edit Your Listing</h3>
    <br>
    <form action="/listings/<%=listing._id%>?_method=put" method="post" class="needs-validation" novalidate>

        <div class="mb-3">

            <label for="title" class="form-label">Enter Title: </label>
            <input type="text" name="listing[title]" class="form-control" value="<%=listing.title%>" required/>
            
            <div class="valid-feedback">valid title</div>
            <div class="invalid-feedback">Give a title</div>


        </div>

        <div class="mb-3">

            <label for="description" class="form-label">Description: </label><br>
            <textarea name="description" class="form-control" id="listing[description]" required><%=listing.description%></textarea>
            
            <div class="invalid-feedback">Give some description</div>

        </div>

        <div class="mb-3">

            <label for="image" class="form-label">Set Image: </label>
            <input type="text" name="listing[image]" class="form-control" value='<%= listing.image%>' required/>

            <div class="invalid-feedback">provide valid image url</div>

        </div>

        <div class='row'>
            <div class="mb-3 col-4">

                <label for="price" class="form-label">Enter Price: </label>
                <input type="number" name="listing[price]" class="form-control" value="<%=listing.price%>" required/> 

                <div class="invalid-feedback">provide valid pricing</div>

            </div>
            <div class="mb-3 col-8">

                <label for="country" class="form-label">Enter Country: </label>
                <input type="text" name="listing[country]" class="form-control" value="<%=listing.country%>" required/>
                
                <div class="invalid-feedback">provide valid country name</div>

            </div>
        </div>

        <div class="mb-3">

            <label for="location" class="form-label">Enter Location: </label>
            <input type="text" name="listing[location]" class="form-control" value="<%=listing.location%>" required/>
            
            <div class="invalid-feedback">provide a valid location</div>

        </div>

        <button type='submit' class="btn btn-outline-success">Edit</button>

        <br><br>
    </form>
</div>
</div>
